<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT YOUR FORM </title>
</head>
<body>
      <form method="POST" action="/listings">
        <input placeholder="enter title" name="title">
        <input placeholder="enter description" name="description">
        <input placeholder="enter   image url" name="image">
        <input placeholder="enter price" name="price">
        <input placeholder="enter location" name="location">
        <input placeholder="enter country" name="country">
        <button>Submit</button>
    </form>
    
</body>
</html>